* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
}

header {
    display: flex;
    background-color: red;
    padding: 30px;
    margin-bottom: 25px;
    align-items: center;
    h2 {
        font-size: 35px;
    }
}

.buscador0km {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    padding: 25px;
    background-color: red;
    height: 300px;
    margin-bottom: 45px;
    input {
        width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    }
    button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        font-size: 25px;
        margin-bottom: 7px;
    }
    output {
        font-size: 23px;
    }
}

/* ----------------------------------- */

#buscador2 {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid red;
    border-radius: 10px;
    padding: 25px;
    background-color: red;
    height: 420px;
    input {
        width: 100%;
        box-sizing: border-box;
        padding: 8px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 25px;
    }
    button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        font-size: 25px;
        margin-bottom: 7px;
    }
    output {
        font-size: 23px;
    }
}